// =====================================================
// [S] 경기 등록 스타일시트 by 2022-10-25 huiwon
// =====================================================

.first_wrap, .second_wrap {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    margin-top: 30px;
    
    div {
        background-color: rgb(26, 188, 156);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 0 !important;
            color: white;
            font-size: 1.2rem;
        }
    }

    .infor_match {
        font-size: 1.5rem;
        margin-left: 20px;
        font-weight: bold;
        height: 40px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 0 !important;
    }
}

.common {
    width: 90%;
}

.time_wrap {
    display: flex;

    input {
        width: 43%;
    }

    span {
        width: 6%;
        font-size: 1.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.textarea_wrap {
    padding-bottom: 40px;
}

textarea{
	height:300px; 
    resize:none;
}
