.bg_wrap{
    width: 100vw;
    position: relative;
    height: calc(100vh - 100px);
    margin-left: -50vw;
    left: 50%;
    background-image: url("../image/good_sports.png");
    background-size: cover;
}

.signup_wrap{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .signup_box {
        width: 400px;
        height: auto;
        background-color: white;
        border-radius: 0.375rem;
        padding: 30px;
    }
}

.modal_btn_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    button {
      width: 46%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
    }
  }

.signup_box {

    h4:nth-child(1) {
      text-align: center;
      margin: 20px 0;
      font-size: 1.5rem;
    }
  }
  
  .collect_infor {
    margin-top: 2px;
  }
  